.gamespace {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: black
}

.header {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color:orange;
    border-bottom: solid black 10px;
    font-size: 2rem;
    align-items: center;
}

.gamebox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: orange;
    font-size: 5rem;
}

.button {
    width: 10rem;
    height: 10rem;
    background-color: black;
    color: white;
    font-size: 5rem;
    font-weight: bolder;
}

.playerinput {
    width:25rem;
    height: 2.5rem;
}

.submit {
    height: 3rem;
    border-radius: 5px;
    color: white;
    background-color:black;
    font-size: 1.5rem;
}